[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
required = true
[user]
name = zeruel11
[user]
email = the.zero0110@gmail.com
[core]
autocrlf = input
[color]
ui = true
[push]
default = simple
